a:hover {
    text-decoration: none;
}

.buttonCV {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin: 60px 15px 30px 0px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonCV2 {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin-bottom: 40px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonPortfolio {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin: 60px 0px 23px 0px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonPortfolio2 {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin-bottom: 40px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonIntro {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin: 90px 10px 30px 0px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonIntro2 {
    display:inline-block;
    background: white;
    border-radius: 42px;
    padding: 15px;
    margin: 130px 10px 30px 0px;
    font-family: Poppins;
    font-weight: bold;
    color: #3F1FFE;
    width: 160px;
    text-align: center;
    box-shadow: 0px 3px 10px 1px #707070;
}

.buttonPortfolio:hover, .buttonPortfolio2:hover, .buttonIntro:hover, .buttonIntro2:hover, .buttonCV:hover, .buttonCV2:hover {
    color: white;
    background: black;
}

.goToTopButton {
    display: none;
    float: left;
    width: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
    opacity: 0.4;
    cursor: pointer;
}

.goToTopButton:hover {
    opacity: 0.75;
}

.socialButton {
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
}

.socialButton:hover {
    opacity: 0.75;
}

.socialButtonFB {
    content: url("/img/icon-fb.png");
}

.socialButtonFB:hover {
    content: url("/img/icon-fb-black.png");
}

.socialButtonLinkedIn {
    content: url("/img/icon-linkedin.png");
}

.socialButtonLinkedIn:hover {
    content: url("/img/icon-linkedin-black.png");
}

.socialButtonGit {
    content: url("/img/icon-git.png");
}

.socialButtonGit:hover {
    content: url("/img/icon-git-black.png");
}

.socialButtonYT {
    content: url("/img/icon-yt.png");
}

.socialButtonYT:hover {
    content: url("/img/icon-yt-black.png");
}

.socialButtonTwitch {
    content: url("/img/icon-twitch.png");
}

.socialButtonTwitch:hover {
    content: url("/img/icon-twitch-black.png");
}

.socialButtonTwitter {
    content: url("/img/icon-twitter.png");
}

.socialButtonTwitter:hover {
    content: url("/img/icon-twitter-black.png");
}


